body {
    background-color: #0e1217;
    color: #fff;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid grey;
    padding: 24px;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
}

.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    width: 64px;
    height: 64px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
}

h1 {
    text-align: right;
}

.orange {
    background-color: rgb(255, 149, 3);
    color: #fff;
}

.gray {
    background-color: rgb(128, 128, 128);
    color: #fff;
}

.gray-num {
    background-color: rgb(97, 97, 97);
    color: #fff;
}